body {
	background:url(../gambar/bg2.png) repeat;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: none;
}

.menu-header ul {
	padding: 0;
	background-color: white;
}
.menu-header ul li {
	list-style: none;
	display: inline-block;
}
.menu-header ul li a {
	padding: 15px 20px;
	cursor: pointer;
	font-size: 13px;
}
.menu-logo {
	background-color: black;
	color: white;
	display: inline-block;
    vertical-align: top;
	padding: 0;
}
.menu-list {
  display: inline-block;
  vertical-align: top;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menu-list:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu-list:hover, .menu-list:focus, .menu-list:active {
  color: white;
}
.menu-list:hover:before, .menu-list:focus:before, .menu-list:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.keranjang {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 1px;
	top: -3px;
}
.keranjang i {
	padding: 0;
	background-color: black;
}
.keranjang span {
	position: absolute;
	margin: 0;
	right: 7px;
	top: 7px;
	background-color: black;
	padding: 2px 7.5px;
	border-radius: 50px;
	color: white;
	font-weight: bold;
}

.side-menu {
	background-color: white;
	border-right: 3px solid teal;
	height: 100%;
}
.side-menu-list {
	font-size: 13px;
	padding: 15px 10px;
	border-bottom: 1px solid lightgray;
	width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.side-menu-list:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.side-menu-list:hover, .side-menu-list:focus, .side-menu-list:active {
  color: white;
}
.side-menu-list:hover:before, .side-menu-list:focus:before, .side-menu-list:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.form-control {
	border-radius: 0;
}
.tombol {
	cursor: pointer;
	display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 50px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.tombol:hover, .tombol:focus, .tombol:active {
	color: white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.tombol-teal {
	background-color: black;
	color: white;
}
.tombol-red {
	background-color: darkred;
	color: white;
}
.tombol-pale {
  background-color: 0202024f;
  color: black;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  box-shadow: 9999px 0 0 -5px black;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px black;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px black;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px black;
  }
  30% {
    box-shadow: 9984px 0 0 2px black;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px black;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px black;
  }
  30% {
    box-shadow: 9999px 0 0 2px black;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px black;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px black;
  }
  30% {
    box-shadow: 10014px 0 0 2px black;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px black;
  }
}

.radio-custom {
	display: none;
}
.radio-custom-label {
	width: 100%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.radio-custom-label:hover, .radio-custom:checked + label {
	background-color: black;
	color: white;
}

.item {
	-webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.item:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

.table thead tr th, .table tbody tr td {
	vertical-align: middle;
}

.footer {
	background-color: black;
	text-align: center;
	color: white;
	padding: 20px;
	font-size: 13px;
}

@media (max-width: 801px) {
	.menu-list:hover span {
		display: inline;
	}
	.menu-list span {
		display: none;
	}
}